---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHeader from "../components/HomeHeader.astro";
import CTAColor from "../components/CTAColor.astro";
import CTAFlight from "../data/CTAFlight.js";
import CTAFastTrack from "../data/CTAFastTrack.js";
import Testimonials from "../components/Testimonials.astro";
import testimonialsData from "../data/testimonialsData.js";
import homePage from "../data/homePage";
import GridPrograms from "../components/GridPrograms.astro";
import programs from "../data/programs";
import CTAFinancing from "../components/CTAFinancing.astro";
import financingCompData from "../data/financingComp";
import BlogFeed from "../components/BlogFeed.astro";
import Welcome from "../components/Welcome.astro";
import CTAQuiz from "../components/CTAQuiz.astro";
import CTAQuizData from "../data/CTAQuiz";
import GeneralFAQs from "../components/GeneralFAQs";
import FlightTrainingSection from "../components/FlightTrainingSection.astro";
import FlightSchoolFeatures from "../components/FlightSchoolFeatures.astro";
import FlightTrainingAdvantages from "../components/FlightTrainingAdvantages.astro";


const blogfeed = {
  upperHeading: "Our Blog",
  heading: "Speedway Flight Training News",
  description:
    "Stay up to date with the latest news, pilot resources and updates from Speedway.",
};

const welcome = {
  title: "Welcome to Speedway Flight Training",
  paragraphs: [
    "At Speedway Flight Training, we’re proud to offer high-quality instruction with a well-maintained fleet in the Greater Atlanta area.",
    "Based in Hampton, GA, at Atlanta Speedway Airport, we provide a safe, structured, and supportive environment for all aspiring pilots.",
    "Whether you’re training for recreational flying or preparing for a professional aviation career, we offer personalized instruction, modern equipment, and comprehensive programs to help you achieve your goals.",
  ],
  imagePath: "/src/assets/speedway-flight-training-cessna-172-hampton-ga.jpg",
  imageAlt: "Cessna 172 at Atlanta Speedway Airport in Hampton, GA, during sunset. Speedway Flight Training's well-maintained fleet provides professional pilot training near Atlanta, offering private, instrument, and commercial flight courses.",
  buttons: [
    {
      text: "About Us",
      link: "/about",
    },
    {
      text: "Gallery",
      link: "/packages/gallery",
    },
  ]
};

const { data } = homePage;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <HomeHeader imagePath="/src/assets/speedway-checkered-flag-atlanta-hampton-georgia.jpg"/>
  
  <div
    class="absolute top-[81vh] py-5 px-5 left-5 right-5 mx-auto md:px-20 max-w-max flex flex-col md:gap-5 md:flex-row items-center bg-accent-300 backdrop-blur-sm rounded-lg shadow-md"
  >
    <div class="flex-1 h-12 border-accent-400 md:border-r-2 md:pr-4 flex items-center">
      <p class="hidden text-accent-700 md:block text-lg w-max">Proudly Partnered with</p>
    </div>
    <div class="flex flex-row gap-1 w-full justify-around">
      <a href="https://fsana.com/" target="_blank" rel="noopener noreferrer">
        <img
          src="/logo-fsana-r13-600px.png"
          alt="FSANA Logo"
          class="h-8 w-auto lg:h-12"
        />
      </a>
    </div>
  </div>  
    
  <Welcome content={welcome} />
  

  <FlightTrainingSection />
  <FlightSchoolFeatures />
  <FlightTrainingAdvantages />
  <CTAColor content={CTAFastTrack} />
  <GridPrograms content={programs} />
  <!-- <CTAQuiz content={CTAQuizData} /> -->
  <section class="py-14 bg-accent-100">
    <div class="max-w-7xl mx-auto flex justify-center">
      <GeneralFAQs client:visible />
    </div>
  </section>
  <CTAFinancing content={financingCompData} />
  <Testimonials content={testimonialsData} />
  <BlogFeed data={blogfeed} />
  <CTAColor content={CTAFlight} />
  <script src="../scripts/creativeSwiper.js"></script>
</BaseLayout>
