---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHeader from "../components/HomeHeader.astro";
import CTAColor from "../components/CTAColor.astro";
import CTAFlight from "../data/CTAFlight.js";
import Testimonials from "../components/Testimonials.astro";
import testimonialsData from "../data/testimonialsData.js";
import homePage from "../data/homePage";
import GridPrograms from "../components/GridPrograms.astro";
import programs from "../data/programs";
import CTAFinancing from "../components/CTAFinancing.astro";
import financingCompData from "../data/financingComp";
import BlogFeed from "../components/BlogFeed.astro";
import Welcome from "../components/Welcome.astro";
import FleetComp from "../components/FleetComp.astro";
import fleetCompData from "../data/fleetComp";
import CTAQuiz from "../components/CTAQuiz.astro";
import CTAQuizData from "../data/CTAQuiz";
import GeneralFAQs from "../components/GeneralFAQs";


const blogfeed = {
  upperHeading: "Our Blog",
  heading: "LA Flight Academy News",
  description:
    "Stay up to date with the latest news, pilot resources and updates from LA Flight.",
};

const welcome = {
  title: "Welcome to LA Flight Academy",
  paragraphs: [
    "At LA Flight Academy, we’re proud to offer one of the largest and best-maintained fleets in Los Angeles.",
    "Based in Van Nuys, CA, we provide a safe, structured, and supportive environment for all aspiring pilots.",
    "Whether you’re training for recreational flying or preparing for a professional aviation career, we offer personalized instruction, modern equipment, and comprehensive programs to help you achieve your goals.",
  ],
};

const { data } = homePage;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <HomeHeader />
  <Welcome content={welcome} />
  <GridPrograms content={programs} />
  <CTAQuiz content={CTAQuizData} />
  <FleetComp content={fleetCompData}/>
  <section class="my-14">
    <div class="max-w-7xl mx-auto flex justify-center">
      <GeneralFAQs client:visible />
    </div>
  </section>
  <CTAFinancing content={financingCompData} />
  <Testimonials content={testimonialsData} />
  <BlogFeed data={blogfeed} />
  <CTAColor content={CTAFlight} />
  <script src="../scripts/creativeSwiper.js"></script>
</BaseLayout>
