---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHeader from "../components/HomeHeader.astro";
import CTAColor from "../components/CTAColor.astro";
import CTAFlight from "../data/CTAFlight.js";
import CTAFastTrack from "../data/CTAFastTrack.js";
import Testimonials from "../components/Testimonials.astro";
import testimonialsData from "../data/testimonialsData.js";
import homePage from "../data/homePage";
import GridPrograms from "../components/GridPrograms.astro";
import programs from "../data/programs";
import CTAFinancing from "../components/CTAFinancing.astro";
import financingCompData from "../data/financingComp";
import BlogFeed from "../components/BlogFeed.astro";
import Welcome from "../components/Welcome.astro";
import CTAQuiz from "../components/CTAQuiz.astro";
import CTAQuizData from "../data/CTAQuiz";
import GeneralFAQs from "../components/GeneralFAQs";
import FlightTrainingSection from "../components/FlightTrainingSection.astro";
import FlightSchoolFeatures from "../components/FlightSchoolFeatures.astro";
import FlightTrainingAdvantages from "../components/FlightTrainingAdvantages.astro";
import Partners from "../components/Partners.astro";
import AirlinesCloud from "../components/AirlinesCloud.astro";
import PromoModal from "../components/PromoModal.astro";


const blogfeed = {
  upperHeading: "Our Blog",
  heading: "Speedway Flight Training News",
  description:
    "Stay up to date with the latest news, pilot resources and updates from Speedway.",
};

const welcome = {
  title: "Welcome to Speedway Flight Training",
  paragraphs: [
    "At Speedway Flight Training, we’re proud to offer high-quality instruction with a well-maintained fleet in the Greater Atlanta area.",
    "Based in Hampton, GA, at Atlanta Speedway Airport, we provide a safe, structured, and supportive environment for all aspiring pilots.",
    "Whether you’re training for recreational flying or preparing for a professional aviation career, we offer personalized instruction, modern equipment, and comprehensive programs to help you achieve your goals.",
  ],
  imagePath: "/src/assets/speedway-flight-training-cessna-172-hampton-ga.webp",
  imageAlt: "Cessna 172 at Atlanta Speedway Airport in Hampton, GA, during sunset. Speedway Flight Training's well-maintained fleet provides professional pilot training near Atlanta, offering private, instrument, and commercial flight courses.",
  buttons: [
    {
      text: "About Us",
      link: "/speedway",
    },
  ]
};

const partners = [
  {
    link: "https://fsana.com/",
    img: "/src/assets/logo-fsana.png",
    alt: "Flight School Association of North America (FSANA) partner logo",
  },
  {
    link: "/",
    img: "/src/assets/indy-jet-2.png",
    alt: "Indy Jet FBO and aviation partner logo",
  },
  {
    link: "https://stratus.finance/",
    img: "/src/assets/Stratus_financial_logo.webp",
    alt: "Stratus Financial partner logo",
  },
];

const partners2 = [
  {
    imagePath: "/src/assets/logo-fsana-r13-600px.png",
    imageAlt: "Flight School Association of North America (FSANA) partner logo",
    link: "https://fsana.com/",
  },
  {
    imagePath: "/src/assets/indy-jet.png",
    imageAlt: "Indy Jet FBO and aviation partner logo",
    link: "/",
  },
  {
    imagePath: "/src/assets/stratus-logo-2.webp",
    imageAlt: "Stratus Financial partner logo",
    link: "https://stratus.finance/",
  },
];

const { data } = homePage;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <!-- <PromoModal /> -->

  <HomeHeader />
  
  <!-- <Partners content={partners} /> -->
  
  <Welcome content={welcome} />

  <AirlinesCloud data={partners2} />

  <FlightTrainingSection />
  <FlightSchoolFeatures />
  <div id="info"></div>
  <FlightTrainingAdvantages />
  <CTAColor content={CTAFastTrack} />
  <GridPrograms content={programs} />
  <!-- <CTAQuiz content={CTAQuizData} /> -->
  <section class="py-14 bg-accent-100">
    <div class="max-w-7xl mx-auto flex justify-center">
      <GeneralFAQs client:visible />
    </div>
  </section>
  <CTAFinancing content={financingCompData} />
  <Testimonials content={testimonialsData} />
  <BlogFeed data={blogfeed} />
  <CTAColor content={CTAFlight} />
  <script src="../scripts/creativeSwiper.js"></script>
</BaseLayout>
