---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { imagePath, title, description, imageAlt, programPath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<div class="program-card w-full h-full flex flex-col justify-end items-center text-center">
  <Image
    src={images[imagePath]()}
    alt={imageAlt || title}
    class="absolute -z-10 w-full h-full object-cover rounded-lg animate-slow-zoom"
    widths={[240, 540, 720, 1080, 1440, 1980]}
    sizes={`(max-width: 300px) 240px, (max-width: 660px) 540px, (max-width: 900px) 720px, (max-width: 1200px) 1080px, (max-width: 1800px) 1440px, 1920px`}
  />
  <div class="mb-16 w-full bg-muted-300/80 pb-6">
    <h3 class="mt-4 text-2xl font-bold">{title}</h3>
    <p class="mt-2 text-lg text-accent-600 pb-6 font-semibold">{description}</p>
    <a class="btn-accent" href=`/programs/${programPath}`>Learn More</a>
  </div>
</div>
