---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
const { name, imagePath, rates, description, details } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[imagePath]) {
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
}
---

<div
  class="flex group flex-col lg:flex-row items-center lg:items-start bg-white/80 rounded-lg shadow-md ring-1 ring-gray-100 overflow-hidden"
  data-aos="fade up"
>
  <!-- Image Section -->
  <div class="lg:w-1/2 w-full overflow-hidden">
    <Image
      src={images[imagePath]()}
      alt={name}
      widths={[240, 540, 720, 1080, 1440, 1980]}
      sizes={`(max-width: 300px) 240px, (max-width: 660px) 540px, (max-width: 900px) 720px, (max-width: 1200px) 1080px, (max-width: 1800px) 1440px, 1920px`}
      class="w-full h-64 lg:h-full object-cover group-hover:scale-105 transition-transform duration-300"
    />
  </div>
  <!-- Details Section -->
  <div
    class="lg:w-1/2 w-full flex flex-col justify-center align-middle items-center lg:items-start p-6"
  >
    <h3 class="text-4xl font-serif font-semibold text-gray-800">{name}</h3>
    <p class="text-gray-500 text-sm mb-4">{rates}</p>
    <ul class="list-disc list-inside space-y-2">
      {details.map((detail) => <li class="text-gray-600">{detail}</li>)}
    </ul>
  </div>
</div>
