---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { TbPlaneTilt } from "react-icons/tb";

const { content } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[content.imagePath]) {
  throw new Error(
    `"${content.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
}

---

<section class="h-min flex flex-col lg:flex-row relative my-16">
  {/* Fleet Image */}
  <Image
    src={images[content.imagePath]()}
    alt={content.imageAlt || "LA Flight Academy aircraft on the runway"}
    loading="lazy"
    class="relative -z-0 object-cover lg:w-6/12 rounded-2xl lg:ml-8"
    data-aos="fade-right"
    widths={[240, 540, 720, 1080, 1440, 1980]}
    sizes={`(max-width: 300px) 240px, (max-width: 660px) 540px, (max-width: 900px) 720px, (max-width: 1200px) 1080px, (max-width: 1800px) 1440px, 1920px`}
  />

  {/* Decorative Background */}
  <!-- <div class="w-3/12 bg-white z-10 absolute h-full hidden lg:block lg:left-[40%] skew-x-12 overflow-hidden"></div> -->

  {/* Fleet Content */}
  <div class="z-20 w-full lg:mx-auto lg:w-6/12 px-5 lg:px-10 py-8 bg-white flex flex-col justify-center items-start gap-8">
    {/* Header */}
    <h2 class="text-4xl font-bold text-primary-800 text-center self-center font-serif">
      {content.header}
    </h2>
    <div class="h-1 w-24 bg-primary-700 rounded-sm self-center"></div>

    {/* Fleet Details */}
    {content.fleet?.map((plane) => (
      <article class="flex gap-4 items-start justify-start text-left pl-8 group" data-aos="fade-right">
        <TbPlaneTilt className="h-11 w-11 text-primary-800 group-hover:animate-pulse" />
        <div class="w-10/12">
          <h3 class="text-xl font-semibold text-primary-700">
            {plane.name} {plane.rates}
          </h3>
          <p class="text-base text-primary-600 leading-relaxed">
            {plane.description}
          </p>
        </div>
      </article>
    ))}

    {/* Call-to-Action Buttons */}
    <div class="mt-6 w-full flex flex-wrap justify-start items-center gap-6">
      {content.buttons?.map((btn) => (
        <a
          href={btn.link}
          class="btn-primary w-full md:w-auto mx-auto text-2xl"
          aria-label={`Navigate to ${btn.name}`}
        >
          {btn.name}
        </a>
      ))}
    </div>
  </div>
</section>
