---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import { KEYWORDS } from "../consts";
import CTAColor from "../components/CTAColor.astro";
import flyWithUsCTA from "../data/CTAFlight";
import ImageComp from "../components/ImageComp.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  author,
  description,
  pubDate,
  updatedDate,
  heroImage,
  category,
  tags,
  keywords,
} = Astro.props;
---

<BaseLayout
  siteTitle={title + " | Blog | Speedway Flight Training"}
  siteDescription={description + " Speedway Flight Training Blog."}
  keywords={category + ", " + tags.join(", ") + keywords ? keywords : KEYWORDS}
  ogImage={heroImage}
>
  <div class="h-20 lg:h-32 w-full"></div>

  <section
    class="flex justify-center pt-2 bg-gradient-to-b from-primary-50 to-primary-100"
  >
    <article class="mx-auto max-w-4xl mb-16">
      <div
        class="mb-12 lg:mb-0 aspect-square lg:aspect-video lg:rounded-t-md shadow-md overflow-hidden"
      >
        {
          heroImage && (
            <ImageComp
              imagePath={heroImage}
              imageAlt={title}
              loading="eager"
              styles="object-cover h-full w-full bg-white"
            />
          )
        }
      </div>
      <div class="mx-auto max-w-4xl bg-white pt-12 pb-32 px-5">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="text-5xl my-6 font-serif">{title}</h1>
          <p class="text-sm font-light">
            Published by: <strong class="font-bold ml-2">{author}</strong>
          </p>
          <div class="md:flex mt-6 mb-4 gap-2 hidden">
            <span
              class="bg-primary-600 text-sm text-white inline-block px-3 py-1 rounded-md"
            >
              {category}
            </span>
            {
              tags
                .slice(0, 3)
                .map((tag) => (
                  <span
                    class={`bg-primary-500 text-sm text-white inline-block px-3 py-1 rounded-md`}
                  >
                    {tag}
                  </span>
                ))
            }
          </div>
          <hr />
        </div>
        <div
          class="prose w-full max-w-4xl px-5 prose-img:w-full prose-img:shadow-md prose-em:text-center prose-em:mx-auto prose-em:text-muted-800 prose-em:text-base prose-p:font-sans prose-h2:text-3xl prose-p:text-xl prose-strong:font-semibold prose-a:text-primary-600"
        >
          <slot />
        </div>
      </div>
    </article>
  </section>
  <CTAColor content={flyWithUsCTA} />
</BaseLayout>
